* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
   scroll-behavior: smooth;
}

body {
    font-family: "Cormorant Infant", serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.gmtxt {
    text-decoration: none;
}

.container {
    text-align: center;
    width: 70%
}

.game-text {
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    letter-spacing: 2px;
    animation: pulse 2s infinite;
    margin: 10% 0 80%;
}


.cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2rem auto;
  gap: 20px;
}

.card {
  width: 30%;
  height: 450px;
  background-image: url('../images/card1.png');
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Добавляем анимацию для наведения */
  background-color: #000;  Чёрный фон
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  gap: 5px;
}

.card-icon {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0 0 5px gold);
  margin: 30px 0 80px;
}

.card-text {
  color: #EEA63A;
  font-family: "Cormorant Infant", serif;
  font-size: 1.3rem;
  text-align: center;
  white-space: pre-line;
}

.card:hover {
  transform: scale(1.05); /* Увеличение карточки при наведении */
  box-shadow: 0 4px 20px rgba(255, 215, 0, 0.5); /* Тень золотистого оттенка */
  cursor: pointer; /* Курсор «рука» */
}

.card:hover .card-text {
  font-size: 1.25rem; /* Увеличение размера текста */
  letter-spacing: 0.5px; /* Увеличение межбуквенного интервала для эффекта */
}

.card:hover .card-icon {
  transform: scale(1.1); /* Лёгкое увеличение иконки */
  filter: drop-shadow(0 0 10px gold); /* Усиление тени */
}



/*=========================================================*/
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    gap: 10px;
    width: 90%;
  }
  .card {
    width: 100%;
    height: 200px;
  }
  .card-text {
    font-size: 1rem;
  }
  .card-icon {
    width: 20px;
    height: 20px;
  }
}

